@font-face {
  font-family: PP Mori;
  font-weight: 200;
  font-display: block;
  src: url(./fonts/PPMori-Extralight.otf);
}

@font-face {
  font-family: PP Mori;
  font-weight: 200;
  font-style: italic;
  font-display: block;
  src: url(./fonts/PPMori-ExtralightItalic.otf);
}

@font-face {
  font-family: PP Mori;
  font-weight: 400;
  font-display: block;
  src: url(./fonts/PPMori-Regular.otf);
}

@font-face {
  font-family: PP Mori;
  font-weight: 400;
  font-style: italic;
  font-display: block;
  src: url(./fonts/PPMori-RegularItalic.otf);
}

@font-face {
  font-family: PP Mori;
  font-weight: 600;
  font-display: block;
  src: url(./fonts/PPMori-SemiBold.otf);
}

@font-face {
  font-family: PP Mori;
  font-weight: 600;
  font-style: italic;
  font-display: block;
  src: url(./fonts/PPMori-SemiBoldItalic.otf);
}

:root {
  --dark: #2A2827;
  --light: #F6F4F3;
  --navy: #2D3D50;
  --pink: #FBDCE9;
  --orange: #FF5422;
  --yellow: #FFF12F;
  --peach: #FCDDC0;
  --dark-green: #3A490D;
}

body {
  color: var(--dark);
  background-color: var(--light);
  transition: background-color 1s ease;
  font-family: 'PP Mori', sans-serif;
  margin: clamp(16px, 4vw, 4vw);
  display: flex;
  flex-direction: column;
  gap: 8vw;
  overflow-x: hidden;
  width: 92vw;
  max-width: 92vw;
  zoom: 1.0;
}

h1 {
  font-weight: 200;
  font-size: 47px;
  font-size: clamp(31px, 4vw, 53px);
  line-height: 104%;
}

h3 {
  font-size: clamp(23px, 2vw, 41px);
  line-height: 104%;
  font-weight: 200;
}

p.title, p.about {
  font-weight: 200;
}

p.about {
  max-width: 56ch;
  font-size: clamp(19px, 1.8vw, 27px);
  line-height: 140%;
}

p.date, p.size {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0.64;
  font-size: clamp(12px, 1.2vw, 14px);
  font-weight: 200;
}

p.date {
  font-weight: 400;
}

a {
  font-weight: 200;
  font-size: clamp(19px, 2vw, 27px);
  line-height: 32px;
  color: var(--dark);
  border-bottom: 1.5px solid var(--dark);
  text-decoration: none;
}

.logo {
  border-bottom: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 24px;
}

.intro h1 {
  max-width: 28ch;
}

.info {
  display: flex;
  justify-content: space-between;
}

/* COLOUR CHANGES */

.color-navy {
  color: var(--light);
  background-color: var(--navy);
}
.color-pink {
  color: var(--dark);
  background-color: var(--pink);
}
.color-orange {
  color: var(--light);
  background-color: var(--orange);
}
.color-yellow {
  color: var(--dark);
  background-color: var(--yellow);
}
.color-peach {
  color: var(--dark);
  background-color: var(--peach);
}
.color-dark-green {
  color: var(--light);
  background-color: var(--dark-green);
}
.color-dark {
  color: var(--dark);
  background-color: var(--light);
}
.color-light {
  color: var(--light);
  background-color: var(--dark);
}

.color-navy a, .color-orange a, .color-dark a, .color-dark-green a {
  color: var(--light);
  border-color: var(--light);
}


/* CANVAS SCROLL */

.bumper {
  text-align: center;
  padding: 128px 16px;
  background-color: #efefef;
}

.container {
  position: relative;
  width: 100%;
}

.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 10vh;
  height: 80vh;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.panels {
  position: relative;
  display: flex;
  gap: 5vw;
  flex-flow: row nowrap;
  align-items: flex-start;
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 100%;
  width: 80vh;
}

.canvas {
  margin-bottom: 8px;
}

.canvas.small {
  scale: 0.5;
}

.canvas img {
  width: 100%;
  box-shadow: 0px 8px 12px -2px rgba(42, 40, 39, 0.48);
}

/* Media Queries */

@media only screen and (max-width: 720px) {

  body {
    gap: 12vw;
    padding-bottom: 6vw;
  }

  .sticky {
    height: 100vw;
  }

  .panel {
    width: 80vw;
    height: auto;
  }

  a {
    border-bottom-width: 1px;
    font-weight: 400;
  }

}