:root {
  --dark: #2A2827;
  --light: #F6F4F3;
  --navy: #2D3D50;
  --pink: #FBDCE9;
  --orange: #FF5422;
  --yellow: #FFF12F;
  --peach: #FCDDC0;
}

body {
  color: var(--dark);
  background-color: var(--light);
  transition: background-color 1s ease;
  font-family: 'PP Mori', sans-serif;
  margin: 48px;
  display: flex;
  flex-direction: column;
  gap: 96px;
  overflow-x: hidden;
  width: calc(100vw - 96px);
  max-width: 100vw;
}

h1 {
  font-weight: 200;
  font-size: 47px;
  font-size: clamp(31px, 4vw, 53px);
  line-height: 104%;
}

h3 {
  font-size: clamp(23px, 2vw, 41px);
  line-height: 104%;
  font-weight: 200;
}

p.title, p.about {
  font-weight: 200;
}

p.about {
  max-width: 56ch;
  font-size: clamp(17px, 1.8vw, 23px);
  line-height: 140%;
}

p.date, p.size {
  font-family: 'Founders Grotesk';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0.64;
  font-size: clamp(12px, 1.2vw, 14px);
  font-weight: 200;
}

p.date {
  font-weight: 400;
}

a {
  font-weight: 200;
  font-size: 23px;
  line-height: 32px;
  color: var(--dark);
  border-bottom: 1.5px solid var(--dark);
  text-decoration: none;
}

.logo {
  letter-spacing: 0.04em;
  font-weight: 600;
  border-bottom: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 24px;
}

.intro h1 {
  max-width: 28ch;
}

.info {
  display: flex;
  justify-content: space-between;
}

.color-navy {
  color: var(--light);
  background-color: var(--navy);
}
.color-pink {
  color: var(--dark);
  background-color: var(--pink);
}
.color-orange {
  color: var(--light);
  background-color: var(--orange);
}
.color-yellow {
  color: var(--dark);
  background-color: var(--yellow);
}
.color-peach {
  color: var(--dark);
  background-color: var(--peach);
}
.color-dark {
  color: var(--dark);
  background-color: var(--light);
}
.color-light {
  color: var(--light);
  background-color: var(--dark);
}

/* CANVAS SCROLL */

.bumper {
  text-align: center;
  padding: 128px 16px;
  background-color: #efefef;
}

.container {
  position: relative;
  width: 100%;
}

.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 96px;
  height: calc(100vh - 96px - 80px);
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.panels {
  position: relative;
  display: flex;
  gap: 5vw;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  height: 100%;
}

.canvas {
  box-shadow: 0px 8px 12px -2px rgba(42, 40, 39, 0.48);
  object-fit: contain;
  margin-bottom: 8px;
  height: calc(100% - 80px);
}

.canvas.small {
  margin: 25%;
  margin-bottom: calc(25% + 16px);
}